.list {
  border-bottom: 0.5px solid #00d1b2;
  text-align: left;
  margin-right: 9%;
  margin-left: 9%;
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-weight: 600;
}

.list > p {
  padding-left: 3%;
  padding-right: 3%;
}

.list:hover {
  color: #00d1b2;
}
